.container
  - @posts.each do |post|
    .col-md-12
      .well
        %h1= link_to post.title, post
        %h3= truncate(strip_tags(post.body), length: 200)
        .pull-right
          = link_to 'Read more', post, class: 'btn btn-primary btn-lg'
          - if current_user
            = link_to 'Edit', edit_post_path(post), class: 'btn btn-warning btn-lg'
            = link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-lg'
        .clearfix
