<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<%= @post.body.html_safe %>

<br>

<%= link_to 'Edit', edit_post_path(@post) if current_user %> |
<%= link_to 'Back', posts_path %>
