<p id="notice"><%= notice %></p>

<h1>
  <%= @post.title %>
</h1>

<%= @post.body.html_safe %>

<br>

<%= link_to 'Edit', edit_post_path(@post) if current_user %>
<br>
<%= link_to '<- Back to the blog', posts_path, class: 'btn btn-primary'%>
<br>
<br>
<br>
